.img{
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url('../images/Background1.jpeg');
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
}
.img p{
    font-size: 1.4em;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 8px;
}
.container p{
    text-align: center;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap:40px;
    padding: 100px;
}
.about img{
    width:500px;
    height: 300px;
}
.aboutsec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
    width: 500px;
    height: 250px;
}
.aboutsec h1{
    font-size: 1.8em;
    margin-bottom: 20px;
}
.aboutsec p{
    line-height: 1.5;
}
.section2{
    margin: 50px;
    position: relative;
    background-color: #bbaaaab6;
    height: 400px;
    padding: 30px;
}
.des{
    background-color: #770b0b;
    width: 400px;
    height: 200px;
    margin:30px auto;
    padding: 10px;

}
.setdes{
    padding: 40px;
    color: #ffffff;
    line-height: 1.5;

}

.slideicon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    right: 10px;
    left: 10px;
    top: 50%;
}

.message{
    background-image: url(../images/Decoration.jpg);
    width: 100%;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-position: center;
    background-size: cover;
}
.mes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 200px;
    gap:10px;
}
.mes h1{
    font-size: 1.5em;
    font-weight: bolder;
}
@media (min-width:768px) and (max-width:1024px) {
   .img{
        height: 500px;
    }

    .about{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        justify-content: center;
        align-content: center;
        margin:0 -95px;
        width: 100%;
        gap:200px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .about img{
        width:400px;
        height: 300px;
    }
    .aboutsec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 20px;
        width: 400px;
        height: 300px;
        text-align: justify;
        line-height: 1.5;
    }
    .aboutsec h1{
        font-size: 1.8em;
        margin-bottom: 20px;
    }
    .aboutsec p{
        line-height: 1.5;
    }
    .section2{
        margin:-2px;
        margin-top: 50px;
        padding-bottom: 100px;
        height: 350px;
        width: 100%;
        
      
    }.section2 h1{
        font-size: 1.8em;
    }
    .des{
        background-color: #770b0b;
        width: 250px;
        height: 220px;
        padding: 10px;
    
    }
    .setdes{
        padding: 40px;
        color: #ffffff;
        line-height: 1.5;
        font-size: 0.8em;
    
    }
    
    .slideicon{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        right: 10px;
        left: 10px;
        top: 50%;
    }
        
}
@media (max-width:768px) {
    .img{
        height: 500px;
    }

    .about{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        justify-content: center;
        align-content: center;
        margin:0 -75px;
        width: 100%;
        gap:90px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .about img{
        margin-left: 20px;
        margin-right: -100px;
        width:300px;
        height: 250px;
    }
    .aboutsec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 320px;
        height: 250px;
        padding: 2px;
        margin-left:20px ;
        text-align: justify;
        line-height: 1.5;
    }
    .aboutsec h1{
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    .aboutsec p{
        line-height: 1.5;
    }
    .section2{
        margin:-2px;
        margin-top: 50px;
        padding-bottom: 100px;
        height: 350px;
        width: 100%;
        
      
    }.section2 h1{
        font-size: 1.8em;
    }
    .des{
        background-color: #770b0b;
        width: 250px;
        height: 220px;
        padding: 10px;
    
    }
    .setdes{
        padding: 40px;
        color: #ffffff;
        line-height: 1.5;
        font-size: 0.8em;
    
    }
    
    .slideicon{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        right: 10px;
        left: 10px;
        top: 50%;
    }
 
    
    .mes{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        margin: auto;
        padding: 100px;
        width: 100%;
        gap:20px;
    }
    .mes h1{
        font-size: 0.9em;
        text-wrap: wrap;
        margin: 20px auto;
        color:rgb(230, 18, 18);
        font-weight: bolder;
    }
    .mes button{
        width: 200px;
        margin: auto;
    }
}